@font-face
	font-family: 'Montserrat'
	src: url(fonts/Montserrat-Regular.otf)
	font-weight: 400
	font-style: normal

@font-face
	font-family: 'Montserrat'
	src: url(fonts/Montserrat-Medium.otf)
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'Montserrat'
	src: url(fonts/Montserrat-SemiBold.otf)
	font-weight: 600
	font-style: normal

@font-face
	font-family: 'Montserrat'
	src: url(fonts/Montserrat-Bold.otf)
	font-weight: 700
	font-style: normal

@font-face
	font-family: 'Montserrat'
	src: url(fonts/Montserrat-Black.otf)
	font-weight: 900
	font-style: normal



// MISC STYLES

html, *
	margin: 0
	padding: 0
	box-sizing: border-box
	list-style: none
	text-decoration: none
	-ms-overflow-style: none
	overflow: -moz-scrollbars-none
	text-rendering: optimizeLegibility
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased
	font-smoothing: antialiased
	font-family: 'Montserrat'

a
	color: inherit
	cursor: pointer

::selection,
::-moz-selection
	background: #fff
	color: #000
::-webkit-scrollbar
	width: 0 !important

img
	width: 100%
	height: auto

body
	font-family: 'Montserrat', sans-serif
	font-size: 16px
	font-weight: 400
	color: #666
	position: relative

