!!! 5
%html
  %head
    %title Joaquín Lluis - Website
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "favicon/apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "favicon/apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "favicon/apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "favicon/apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "favicon/apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "favicon/apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "favicon/apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "favicon/apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "favicon/apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "favicon/android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
    %link{:href => "favicon/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "favicon/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "favicon/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "favicon/manifest.json", :rel => "manifest"}/
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
    %meta{:content => "favicon/ms-icon-144x144.png", :name => "msapplication-TileImage"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/
    %meta{ :http_equiv => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1" }
    %meta{ :charset => "UTF-8" }
    / %script{:src => "js/jquery-latest.min.js"}
    / %script{:src => "js/modal.js"}

  %body
    %main

      // HERO PHRASE
      %section
        .header.max-width
          %img.logo{:src => "img/logo.svg", :width => "229"}
          .hero
            .hero-phrase
              .hero-phrase-subtitle
                ESTAMOS
              .hero-phrase-title
                HACIENDO
                %br
                PRODUCTO
                %br
                EN ARGENTINA
            .hero-image
              %img{:src => "img/header-forma.svg"}

      // HERO PHRASE
      %section.lovephrase-section
        .lovephrase.max-width
          .lovephrase-image

            %img{:src => "img/love-phrase-img.png"}
          .lovephrase-phrase
            Los mejores
            %br
            productos nacen
            %br
            del amor,
            %br
            la pasión y
            %br
            el conocimiento

      // EVENT
      %section.event-section
        .event.max-width
          // EVENT SHIT -------------------------------- <
          .event-first-col
            .event-date
              .event-date-day
                03
              .event-date-month
                OCTUBRE
          .event-second-col
            .event-edition
              5TA EDICIÓN
            .event-title
              Auditorio
              %br
              de Digital House
            .event-adress
              Av. Monroe 860, Ciudad de Buenos Aires

            .event-schedule
              .event-schedule-row
                .event-schedule-row-hour
                  18:45
                .event-schedule-row-spec
                  Doors open
              .event-schedule-row.spaced
                .event-schedule-row-hour
                  19:15
                .event-schedule-row-spec
                  Speakers
                .event-schedule-row-arrow

              .event-speaker-card
                .event-speaker-photo
                  %img{:src => "img/speaker-1.png"}
                .event-speaker-info
                  .event-speaker-name
                    Alejandro Vizio
                  .event-speaker-title
                    Founder & Creative Director @ Aerolab
                  .event-speaker-speach
                    “El método científico para crear productos”

              .event-speaker-card
                .event-speaker-photo
                  %img{:src => "img/speaker-2.png"}
                .event-speaker-info
                  .event-speaker-name
                    Emiliano Grasso
                  .event-speaker-title
                    Gerente Productos Cross @ Almundo.com
                  .event-speaker-speach
                    “Generar engagement en mobile, el desafío más dificil del product manager”

              .event-schedule-row.white
                .event-schedule-row-hour
                  20:15
                .event-schedule-row-spec
                  Drinks & Networking

              %a.event-participate{:href => "https://www.meetup.com/ProductTank-Buenos-Aires/events/243174116/"}
                PARTICIPAR
          .event-social
            %a.event-social-link{:href => "#"}
              %img{:src => "img/facebook.svg"}
            %a.event-social-link{:href => "#"}
              %img{:src => "img/twitter.svg"}
            %a.event-social-link{:href => "#"}
              %img{:src => "img/instagram.svg"}

      %footer
        © Product Tank - Buenos Aires — All rights reserved.



          

    // OTHER JS
    %script
      $(window).load(function() {
      setTimeout(function(){
      //Init body animations
      $('.loading').addClass('done');

      }, 2000);
      });



    // SVG
    %script
      // Elements to inject
      var mySVGsToInject = document.querySelectorAll('img.inject-me');
      // Do the injection
      SVGInjector(mySVGsToInject);



