// IMPORTS

@import "partials/variables.sass"
@import "partials/_misc.sass"


// MAIN CONTAINERS

.max-width
	width: 100%
	max-width: 990px
	margin: auto

//NAVIGATION
.navigation
	padding: 18px 30px
	background: #fff
	box-shadow: 0 -8px 70px 0 rgba(0,0,0,0.3)
	margin-bottom: 90px
	position: fixed
	top: 0
	z-index: 99
	width: 100%
	+desktop
		padding: 45px 0px 14px 0px
		margin-bottom: 0
	ul li
		display: inline-block
		font-size: 13px
		color: #999999
		font-weight: 600
		letter-spacing: 1px
		a
			display: block
			padding: 10px 12px
			overflow: hidden
		a.button
			font-size: 13px
			color: #fff
			font-weight: 600
			letter-spacing: 1px
			background-image: linear-gradient(-140deg, #2F7C9D 0%, #1B546C 64%)
			box-shadow: 0 2px 40px 0 rgba(0,0,0,0.15)
			position: relative
			transition: all .5s ease 
			&:before
				content: ''
				position: absolute
				left: -100%
				top: 0
				width: 200%
				height: 100%
				background-image: linear-gradient(-140deg, #2F7C9D 0%, #1B546C 34%)
				z-index: -1
				transition: all .5s ease 
			&:hover
				transform: scale(1.05,1.05)
				transition: all .5s ease
				box-shadow: 0 2px 60px 0 rgba(0,0,0,0.6)
				&:before
					left: 0
					transition: all .5s ease
		&:first-child
			margin-right: 5px
		+desktop
			font-size: 15px
			a.button
				font-size: 15px

// HEADER

.header
	position: relative
.logo
	width: 229px
	position: absolute
	left: 30px
	top: -35px
	z-index: 2
	+desktop
		left: inherit
		right: 70px
		top: -35px
		z-index: 99

.hero
	background: #ccc
	height: 700px
	position: relative
	margin-top: 165px
	+desktop
		height: 605px
		margin-top: 101px
	&:before
		content: ''
		position: absolute
		background-image: linear-gradient(-48deg, #A6E2FE 0%, #4CB9ED 30%)
		width: 150%
		height: 100%
		right: 0
		top: 0

.hero-phrase
	position: absolute
	bottom: 160px
	left: -70px
	z-index: 2
	transform: rotate(-90deg)
	+desktop
		bottom: inherit
		top: 110px
		left: 0
		transform: rotate(0deg)
	img
		padding-top: 40px
		width: auto
.hero-phrase-subtitle
	font-weight: 500
	font-size: 13px
	color: #FFFFFF
	letter-spacing: 2px
	+desktop
		font-size: 18px
.hero-phrase-title
	font-weight: 900
	font-size: 45px
	line-height: 40px
	color: #FFFFFF
	letter-spacing: 1px
	+desktop
		font-size: 67px
		line-height: 57px
.hero-image
	position: absolute
	width: 596px
	height: 278px
	right: 0
	bottom: 0
	z-index: 1

// LOVE PHRASE
.lovephrase-section
	overflow: hidden
.lovephrase
	display: flex
	flex-direction: column
	+desktop
		flex-direction: row
.lovephrase-image
	flex: 50%
	padding-top: 140px
	order: 2
	z-index: 2
	position: relative
	&:before
		background: url(img/stripes.svg) repeat-x top left
		content: ''
		position: absolute
		width: 100%
		height: 52px
		right: 0
		top: 0
		z-index: -1
	+desktop
		&:after
			content: ''
			position: absolute
			width: 150%
			height: 140px
			left: -150%
			top: 0
			z-index: -1
			background-image: linear-gradient(-151deg, #0098DA 51%, #2798CA 100%)
			box-shadow: 0 -8px 70px 0 rgba(0,158,227,0.78)	

.section-next-title
	position: absolute
	width: 100%
	bottom: 107px
	left: 30px
	background-image: linear-gradient(42deg, #A7E2FE 0%, #4CB9EC 97%)
	box-shadow: 0 -8px 70px 0 rgba(0,0,0,0.3)
	z-index: 4
	padding: 25px 0px 30px 30px
	+desktop
		left: 55px
		padding: 35px 0px 45px 35px
.section-title-subtitle
	opacity: 0.7
	font-weight: 600
	font-size: 14px
	color: #FFFFFF
	letter-spacing: 1px
	line-height: 29px

	+desktop
		font-size: 18px
		padding-bottom: 10px
.section-title-title
	font-weight: 600
	font-size: 32px
	line-height: 30px
	color: #FFFFFF
	+desktop
		font-size: 44px
		line-height: 39px
.lovephrase-phrase
	width: 100%
	flex: 50%
	align-self: flex-start
	background: #fff
	padding: 60px 0px 60px 45px
	font-weight: 600
	font-size: 32px
	line-height: 36px
	color: #4CADE2
	letter-spacing: 0
	box-shadow: 0 -8px 70px 0 rgba(0,0,0,0.15)
	position: relative
	+desktop
		order: 2
		font-size: 40px
		line-height: 46px
		padding: 80px 0px 80px 65px
		&:before
			content: ''
			position: absolute
			width: 150%
			height: 140px
			right: -150%
			top: 0
			z-index: 1
			background-image: linear-gradient(-151deg, #0098DA 51%, #2798CA 100%)
			box-shadow: 0 -8px 70px 0 rgba(0,158,227,0.78)
		&:after
			background: url(img/background-dots.svg) no-repeat top left
			content: ''
			position: absolute
			width: 150%
			height: 262px
			left: 10%
			top: 115%
			z-index: 1
	

// EVENT

.event-section
	position: relative
	padding-bottom: 160px
	padding-top: 100px
	margin-top: -105px
	overflow: hidden
	+desktop
		padding-bottom: 195px
	&:before
		background-image: linear-gradient(-153deg, #0098DA 14%, #2798CA 100%)
		content: ''
		position: absolute
		width: 100%
		height: 100%
		right: 0
		top: 265px
		z-index: -1
	&:after
		background: url(img/radial-background.svg) no-repeat center bottom
		background-size: 1226px 1226px
		content: ''
		position: absolute
		width: 100%
		height: 100%
		right: 0
		bottom: -140px
		z-index: -1
		opacity: 0.6

.event	
	z-index: 2
	position: relative
	display: flex
	padding: 0 0 0 30px
	flex-direction: column
	+desktop
		flex-direction: row
		flex-flow: row wrap
		padding: 0 55px

		&:after
			content: ''
			position: absolute
			width: 185px
			height: 185px
			border-radius: 100px
			top: -90px
			right: 0
			z-index: -2
			background-image: linear-gradient(-143deg, #00CDF3 0%, #009EE3 61%)

	&:before
		background-image: linear-gradient(-179deg, #FFFFFF 62%, rgba(255,255,255,0.00) 91%)
		box-shadow: 0 -8px 70px 0 rgba(0,0,0,0.15)
		content: ''
		position: absolute
		width: 100%
		height: 65%
		top: 0
		right: 0
		z-index: -1

.event-first-col
	flex: 1
	flex-basis: auto
	padding-right: 50px
	flex-grow: 0
.event-second-col
	flex: 3
	padding-top: 10px
	+desktop
		padding-top: 30px
.event-third-col
	flex: 1 100%

.event-date
	background: #FFFFFF
	box-shadow: 0 -8px 70px 0 rgba(0,0,0,0.15), inset 0 12px 0px 0 #E6F5FC
	padding: 25px 35px 20px 35px
	margin-top: -60px
	position: relative
	float: left
	transform-origin: left
	transform: scale(.8,.8)
	+desktop
		transform: scale(1,1)
		margin-top: -40px
		&:before
			background: url(img/stripes.svg) repeat-x top left
			content: ''
			position: absolute
			width: 100%
			height: 52px
			right: 0
			bottom: -30px
			z-index: -1
.event-date-day
	font-weight: 600
	font-size: 80px
	line-height: 67px
	color: #009EE3
	letter-spacing: 0
.event-date-month
	border-top: #F0F0F0 2px solid
	padding-top: 16px
	margin-top: 20px
	font-family: Montserrat-Medium
	font-size: 16px
	color: #ccc
	letter-spacing: 0.91px
	line-height: 29px
	text-align: center


.event-edition
	background: #E6F5FC
	padding: 0 15px
	float: left
	text-align: right
	font-weight: 500
	font-size: 14px
	color: #32B3FF
	letter-spacing: 1px
	line-height: 29px
	border-radius: 30px
	margin-top: 10px
	+desktop
		float: right
		font-size: 16px
.event-title
	opacity: 0.7
	font-weight: 600
	font-size: 44px
	line-height: 42px
	color: #0D3343
	letter-spacing: 0
	padding-top: 55px
	+desktop
		font-size: 65px
		line-height: 63px

.event-adress
	font-weight: 500
	font-size: 18px
	line-height: 22px
	color: #BBBBBB
	letter-spacing: 0px
	padding: 0 30px 0 20px
	margin-bottom: 55px
	margin-top: 25px
	position: relative
	&:before
		position: absolute
		content: ''
		left: 0
		top: 7px
		width: 6px
		height: 6px
		border-top: 2px solid rgba(0,0,0,0.3)
		border-right: 2px solid rgba(0,0,0,0.3)
		transform: rotate(45deg)

	+desktop
		margin-top: 20px
		margin-bottom: 65px
		font-size: 22px
		letter-spacing: .5px


// EVENT ROWS

.event-schedule
.event-schedule-row
	border-top: 2px solid #A6DDF5
	margin-bottom: 10px
	padding-top: 10px
	&.white
		border-color: #fff
		margin-top: 40px
		.event-schedule-row-hour,
		.event-schedule-row-spec
			color: #fff
	&.spaced
		margin-bottom: 30px
	+desktop
		padding-top: 15px
		margin-bottom: 15px
.event-schedule-row-hour
	display: inline-block
	font-weight: 500
	font-size: 16px
	color: #009EE3
	letter-spacing: 2px
	line-height: 29px
	margin-right: 20px
	+desktop
		font-size: 18px
.event-schedule-row-spec
	display: inline-block
	font-weight: 500
	font-size: 16px
	color: #009EE3
	letter-spacing: 2px
	line-height: 29px
	+desktop
		font-size: 18px
.event-schedule-row-arrow

// EVENT SPEAKER CARD

.event-speaker-card
	background: #FFFFFF
	box-shadow: 0 -8px 70px 0 rgba(0,0,0,0.15)
	display: flex
	padding: 30px
	margin-bottom: 30px
	margin-left: 30px
	+desktop
		margin-left: 0

.event-speaker-photo
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.20)
	flex: 1
	flex-basis: auto
	flex-grow: 0
	border-radius: 50%
	width: 85px
	height: 85px
	margin-right: 20px
	margin-left: -70px
	+desktop
		width: 125px
		height: 125px
		margin-left: 0

.event-speaker-info
	flex: 3

.event-speaker-name
	opacity: 1
	font-weight: 700
	font-size: 25px
	color: #0D3343
	margin: 5px 0 5px 0
	opacity: 0.7
.event-speaker-title
	font-weight: 400
	font-size: 15px
	color: #999999
	line-height: 18px
	padding-left: 15px
	position: relative
	&:before
		position: absolute
		content: ''
		left: 0
		top: 7px
		width: 6px
		height: 6px
		border-top: 2px solid #ddd
		border-right: 2px solid #ddd
		transform: rotate(45deg)
	+desktop
		font-size: 18px
		line-height: 22px
.event-speaker-speach
	font-weight: 400
	font-size: 15px
	color: #999999
	line-height: 18px
	padding-top: 15px
	margin-top: 15px
	border-top: 2px solid #f2f2f2
	font-style: italic
	+desktop
		font-size: 18px
		line-height: 22px

.event-participate
	padding: 15px 30px
	box-shadow: 0 2px 40px 0 rgba(0,0,0,0.4)
	font-weight: 600
	font-size: 16px
	color: #FFFFFF
	letter-spacing: 3px
	line-height: 29px
	text-align: center
	margin: 30px 30px 120px 0
	transition: all .5s ease
	border-radius: 0
	display: block
	position: relative
	overflow: hidden
	transition: all .5s ease 
	&:before
		content: ''
		position: absolute
		left: -100%
		top: 0
		width: 200%
		height: 100%
		background-image: linear-gradient(-140deg, #2F7C9D 0%, #1B546C 34%)
		z-index: -1
		transition: all .5s ease 
	&:hover
		transform: scale(1.05,1.05)
		transition: all .5s ease
		box-shadow: 0 2px 60px 0 rgba(0,0,0,0.6)
		&:before
			left: 0
			transition: all .5s ease 
	+desktop
		margin: 30px 0px 120px 0
		min-width: 50%
		display: inline-block
		float: right
		font-size: 18px

.event-social
	position: absolute
	bottom: 0
	width: 100%
	text-align: center
	padding-bottom: 45px
.event-social-link
	margin-right: 5px
	transition: all ease .5s
	width: 35px
	height: 35px
	display: inline-block
	box-shadow: 0 2px 20px 0 rgba(0,0,0,0.15)
	border-radius: 35px
	&:hover
		opacity: 0.8
		img
			transform: scale(1.1,1.1)
.event-social-link img
	width: 35px
	height: 35px
	transition: all ease .5s

// OTHER EDITIONS
.other-editions
	width: 100%
	max-width: 1100px
	margin: auto
	background-image: linear-gradient(-48deg, #A7E2FE 0%, #4CB9EC 81%)
	box-shadow: 0 -7px 70px 0 rgba(0,0,0,0.15)
	padding: 75px 20px
	position: relative
	+desktop
		padding: 55px
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: url(img/square-pattern.svg)
	.event
		background: #fff
		box-shadow: 0 -8px 70px 0 rgba(0,0,0,0.15)
		margin-bottom: 70px
		&:last-child
			margin-bottom: 0
		&:before, &:after
			display: none

.other-editions-title-subtitle
	opacity: 0.7
	font-weight: 600
	font-size: 14px
	color: #FFFFFF
	letter-spacing: 1px
	line-height: 29px
	width: 100%
	text-align: center
	margin-bottom: 5px
	+desktop
		font-size: 18px
		letter-spacing: 1.5px

.other-editions-title-title
	font-weight: 600
	font-size: 32px
	color: #FFFFFF
	line-height: 30px
	width: 100%
	text-align: center
	margin-bottom: 130px
	padding: 0 30px
	position: relative
	&:after
		content: ''
		position: absolute
		height: 2px
		width: 40px
		background: rgba(255,255,255,0.5)
		bottom: -35px
		left: 50%
		margin-left: -20px
	+desktop
		font-size: 44px
		line-height: 44px
		padding: 0
		margin-bottom: 110px

.event-third-col
	margin: 20px 0 0 -30px 
	+desktop
		margin: 20px -55px 0 -55px

.event-media-links
	background: #E5F4FB
	padding: 35px 30px
	+desktop
		padding: 30px 55px
		text-align: right
.event-media-links-video,
.event-media-links-images
	font-weight: 600
	font-size: 14px
	color: #FFFFFF
	letter-spacing: 2.84px
	line-height: 25px
	background-image: linear-gradient(-140deg, #2F7C9D 0%, #1B546C 64%)
	box-shadow: 0 2px 40px 0 rgba(0,0,0,0.3)
	padding: 14px 25px
	display: inline-block
	width: 100%
	margin-bottom: 20px
	text-align: center
	+desktop
		margin-left: 25px
		margin-bottom: 0
		width: auto
		font-size: 16px
		line-height: 29px
.event-media-links-images
	margin-bottom: 0
	background-image: linear-gradient(-143deg, #00CDF3 0%, #009EE3 61%)


// EVENT CARD VARIATIONS
.event.internacional
	background: #093F59
	.event-title
		color: #fff
		opacity: 1
	.event-edition
		background: rgba(255,255,255,0.1)

// FOOTER

footer
	background: #fff
	font-weight: 400
	font-size: 14px
	color: #999999
	line-height: 16px
	padding: 30px 0
	text-align: center
	+desktop
		font-size: 16px
		line-height: 18px
	span
		display: block
		i
			display: none
			+desktop
				display: inline-block
		+desktop
			display: inline-block





















